@import url('./views/main-view.css');
@import url('lumo-css-framework/all-classes.css');

html {
    --lumo-body-text-color: #292b2c;
    --lumo-primary-color: #0275d8;
    --lumo-primary-text-color: #292b2c;
    --lumo-error-color: #d9534f;
    --lumo-success-color: #5cb85c;
    --lumo-success-text-color: #5cb85c;
    --lumo-base-color: #ffffff;
    --lumo-font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

}

[theme~="dark"] {
    background-color: #ffffff;
}

:host([theme~="custom-overlay"]) {
}

.vaadin-menu-list-box,
.overlay-dropdown,
vaadin-combo-box-overlay {
    /*will-change: auto;*/
    /*background-color: #ffffff !important;*/
    /*background-image: none !important;*/
}
